===== Request Fields
|===
|field|type|optional|description|format


{{#fields}}

    |{{path}}
    |{{type}}
    |{{optional}}
    |{{description}}
    {{#format}}
        |{{format}}
    {{/format}}
    {{^format}}
        |
    {{/format}}

{{/fields}}

|===